body {
  /* background-image: linear-gradient(to right, #1180ff, #0027d4); */
  background: linear-gradient(140deg, #0e12f1 0%, #1f80db 51%, #2cb3e8 85%);
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif, Times;

}

.btn-link {
  display: block;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 18px;
  background-color: #54c0ff;
  background-image: linear-gradient(to top left, #54c0ff, #0e78f1);
  color: black;
  text-decoration: none;
  width: fit-content;
  height: auto;
  margin: 20px auto;
  transition: 0.3s;
}

.btn-link:hover {
  box-shadow: 0px 4px 8px #000000;
}

.btn-link:active {
  box-shadow: 0px 0px 0px #000000ce;
}

header {
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 5px #70bfff;
  margin: 45px 0;
}

subheader {
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 5px #70bfff;
  margin: 25px 0;
}

a {
  text-decoration: none;
}

main {
  margin-top: 100px;
}

/* Navigation Bar */
nav {
  background-color: #1575bf;
  background-image: linear-gradient(to bottom right, #1575bf, #0046c7);
  overflow: hidden;
  display: flex;
  width: 100%;
  filter: drop-shadow(0px 10px 10px black);
  box-shadow: 0px 0px 8px blue;
  border-radius: 6px;
  z-index: 7777;
  position: sticky;
  top: 0;
}

nav a {
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  background-color: #5498ff;
  background-image: radial-gradient(circle, #1670f8, #0e4bf1);
  transition: 0.3s;
  border-radius: 14px;
  margin-right: 5px;
  font-family: 'Times New Roman', Times, serif;
}

nav a:not(.active):hover {
  color: black;
  filter: drop-shadow(-5px 8px 10px black);
  box-shadow: 0px 0px 10px #0e12f1;
}

nav a.active {
  background-color: #145b91;
  color: white;
}

/* Footer */
footer {
  width: 100%;
  bottom: 0;
  position: relative;
  color: white;
  background-color: #255aa5;
  background-image: linear-gradient(to bottom , #255aa5, #0f36e7);
  height: fit-content;
  text-align: center;
  padding: 50px 0px;
  margin: 0px;
  margin-top: 60vh;
  outline: double #0d4aff 3px; 
  box-shadow: 0px -5px 5px #0d4aff;
} 

footer table {
  margin: auto;
  width: 50%;
}

footer table th,
td {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

footer table th {
  border-bottom: 1px solid #ddd;
  border-radius: 50%;
}

footer th {
  font-size: 20px;
  text-align: center;

}

footer td p {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: white;
  text-decoration: none;
}

footer td p:active {
  color: rgb(0, 191, 255)
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    position: relative;
  }

  nav a {
    width: calc(100% - 40px);
    margin: auto;
    font-size: 20px;
  }

  footer table th {
    border-bottom: 1px solid #ddd;
    border-right: none;
    border-left: none;
  }

  footer table {
    width: 100%;
  }
}